<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Additional CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='reset.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='owl.css')}}">

    <title>WayWard Souls</title>
  </head>
    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="home"><h2>WayWard Souls <em>Tattoo &amp; Art Studio</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="home">Home</a></li>

                <li class="nav-item"><a class="nav-link" href="location">Location</a></li>
                <li class="nav-item"><a class="nav-link" href="artists">Artists</a></li>
                <li class="nav-item"><a class="nav-link" href="store">Online Store</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <body>
    <br>
    <br>
    <br>
    <br>
    <div class="page-heading" style="background-image: url(/static/images/hp_ban.png);"></div>

    <!-- Store Commercial -->
    <div class="Youtube" align="center">
      <iframe width="700" height="500" src="https://www.youtube.com/embed/bl53QRq2kTM?start=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="facebook" align="center">
      <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FWayWardSoulsLLC%2F&tabs=timeline%2C%20events&width=500&height=550&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="500" height="550" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
    </div>

    <!-- Disclaimers -->
      <div class="card text-center">
        <div class="card-header" style="background-color: #1e1e1e; color: white;">
          Disclosures
        </div>
        <div class="card-body" style="margin-right: 15%; margin-left: 15%; padding-left: 5%; padding-right: 5%;">
          <h2 class="card-title">Tattoo Disclosures</h2>
          <p class="card-text">TEXT HERE</p>
          <br>
          <h2 class="card-title">Piercing Disclosures</h2>
          <p class="card-text">TEXT HERE</p>
          <br>
          <h2 class="card-title">After Care </h2>
          <p class="card-text" style="text-align: left;">Now that your tattoo artist has done their job, it’s up to you to give your tattoo the proper aftercare so that you have the best possible result. Your tattoo is, in fact, an open wound and must be treated accordingly. How the wound heals depends on the aftercare, although certain areas may heal differently due to wear and tear (e.g. hands, fingers, elbows, feet, knees).<br><br><h3>AFTERCARE IS YOUR RESPONSIBILITY!!</h3><br>

          <ul style="text-align: left; list-style-type: disc; font-weight: normal; text-decoration: none;">

            <li><p>As you know by now, a fresh tattoo is an open wound...open and vulnerable without the skin to protect it. It will take about 2-3 weeks for the wound to heal properly.</p></li>
            <br>
            <li><p>After your tattoo has been finished, the tattoo artist will place a plastic wrap for you to wear for a maximum of 2 hours. This is to prevent bacteria from entering your fresh wound. When removing the wrap, wash your hands first, then throw wrap away, and wash your tattoo with ANTIBACTERIAL soap and warm water. The water should be as warm as possible, so as to open up the pores for cleaning. ALWAYS wash your hands before touching your tattoo.</p></li>
            <br>
            <li><p>Your tattoo should then be gently patted dry with a disposable sanitary towel. You must allow it to completely dry before applying any ointment. You don’t have to apply any lubricants or ointments to your tattoo more than whenever it feels a little tight or dry. As the skin heals by itself, it will need less lubrication. A general word of advice: less is more. Use A&D ointment or Aquaphor as ointment. You must use ointment SPARINGLY in very SMALL amounts, over-moisterizing can cause the scabbing to become water-logged or “bubbly” and you will lose ink. Over-moisterizing can also trap in bacteria, causing infection and loss of ink.</p></li>
            <br>
            <li><p>You still need to clean the tattoo once a day throughout the healing process, or every time bacteria comes into contact with the tattoo.</p></li>
            <br>
            <li><p>Avoid any use of perfume or perfumed soap on the tattoo during its healing, as this can irritate the skin.</p></li>
            <br>
            <li><p>Do not scratch or otherwise pick on the tattoo during this time.</p></li>
            <br>
            <li><p>Do not sunbathe. If you have to be in the sun, cover up with clothing.</p></li>
            <br>
            <li><p>Do not allow pets to come into contact with your tattoo while healing.</p></li>
            <br>
            <li><p>Do not submerge tattoo in water. Showers only.</p></li>
          </ul>
          <br>


          <h5>INFLAMMATION AND INFECTIONS</h5>
          <p style="text-align: left;">The area of the tattoo will be inflamed- due to the skin being punctured by needles. Because the epidermis is broken, the dermis (2nd layer) tissue is vulnerable to infection, and will be until the tattoo is fully healed. If infection occures, the area will become tight and red, and you should consult a doctor immediately. Infection CAN be avoided by following these aftercare guidelines:
          </p><br>
          <ul style="text-align: left; list-style-type: disc; font-weight: normal; text-decoration: none;">
            <li><p>Wash your hands thoroughly before touching the tattoo or applying any cream or ointment.</p></li>
            <li><p>Use clean bedsheets the night of receiving your tattoo.</p></li>
            <li><p>Wear clean clothes. Change if clothes become dirtied.</p></li>
            <li><p>Use clean towels every time you take a shower.</p></li>
            <li><p>Avoid touching the tattooed area as much as possible. All surfaces carry some amount of bacteria. It’s important to be cautious.</p></li>
            <li><p>Avoid submerging the tattoo in water for an extended period of time. </p></li>
            <li><p>Soaking a tattoo can cause scabs to loosen before the skin has had a chance to heal.This leaves the dermis exposed, and once again vulnerable to infection. It can also cause the ink to bleed out.</p></li>
            <li><p>Use a small, thin layer when applying ointment.  If area is kept too moist, it can lose ink and become infected.</p></li>
          </ul>
          <br>



          <h5>SWIMMING AND SUNBATHING</h5>
          <p style="text-align: left;">Fresh tattoos are very sensitive to sunlight and you should avoid direct sunlight if at all possible while healing. DO NOT SUNBATHE. Cover tattooed area with loose-fitting, clean clothing. DO NOT GO SWIMMING with a healing tattoo. Water carries bacteria and the water-logged scabs will fall off and allow bacteria to enter. If you have to bathe, do so quickly.
          </p>
          <br>

          <h5>TATTOOS AND TRAINING</h5>
          <p style="text-align: left;">You can work out with a fresh tattoo! But it is important to keep it clean and protected. Avoid working out if your tattoo is in an area that bends or stretches frequently, such as elbows, knees, ribs, etc. Keep your tattoo covered with loose-fitting, clean clothing to protect it.
          </p>




          </p>
          <br>
          <a href="artists" class="btn btn-primary" style="background-color: #f33f3f; border-color: #f33f3f; color: black;">Meet The Crew</a>
        </div>
      </div>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <p>Copyright © 2020-2022 WayWard Souls LLC</p>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>